/*"Compose Tweet"*/
.new-tweet h2 {
  margin: 0px;
  border-bottom: 1px solid black;
}

/*All sections - new-tweet && tweetFeed*/
/*section {
  border-radius: 5px;
  background-color: blue;
  margin: 1em 2em;
}*/


/*Compose Tweet form structure*/

/*Section containing the form*/
.new-tweet {
  border-radius: 5px;
  background-color: #eee;
  margin: 1em 2em;
  padding: 10px;
  display: none;
}
.new-tweet form {
  margin: 1em;
}

section input {
  float: left;
}

.new-tweet textarea {
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0px;
  word-wrap: break-word;
}

.new-tweet .counter{
  float: right;
}

.new-tweet:after {
  content: "";
  display: block;
  clear: both;
}