

/*Tweet top structure - avatar, name, handle*/
header {
  background-color: #eee;
  width: auto;
  height: 60px;
  border-radius: 10px;
}

header .avatar {
  height: 50px;
  width: 50px;
  border-radius: 2px;
  margin: 5px;
  float: left;
}

h3 {
  margin: 0px;
  font-weight: bold;
  font-size: 18px;
  float: left;
}

/*Formatting individual tweet boxes*/
 .tweet {
  border: 1px solid #eee;
  border-radius: 10px;
  background-color: white;
  margin: 1em 2em;
}

header .avatar:after{
  content: "";
  display: block;
  clear: both;
}

#tweetFeed .tweet:hover i {
  visibility: visible;

}

 .handle {
  font-size: 10px;
  font-weight: normal;
  float: right;

}

 .headerTextPadding{
  padding: 15px;
}

 .handle:after {
  content: "";
  display: block;
  clear: both;
}

 .tweetContent {
  padding: 5px;
}

footer {
  border-top: 1px solid #eee;
  font-size: 10px;
  padding: 5px;
  height: 30px;
}

footer span {
  vertical-align: middle;
}

footer i{
  float: right;
  visibility: hidden;
  height: 10px;
  width: 10px;
  margin: 5px;
  color: #00a087;
}